<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>app</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}" />
  <script type="text/javascript">
      $('#file').change(function() {
        $('#target').submit();
      });
  </script>
</head>
<body>
<div id="wrapper">
  <header>
    <h1>UI Power Usage Analyzation Tool</h1>
  </header>
  <br>
  <div id="container">
    <div id="left">
      {% if filename %}
      <img id="image" src="{{ url_for('send_file', filename=filename) }}">
      {% else %}
      <h1>no image</h1>
      {% endif %}
      <form id="target" action="/upload" method="post" enctype="multipart/form-data" >
        <p><input id="input" type="file" name="image"></p>
        <p><input type="submit" value="Upload"></p>
      </form>
    </div>
    <div id="right">
      <div id="overall">
        <h3>Overall - Total Power Usage: {{ Power }}mW</h3>
        Red: {{ Red }}<br>
        Green: {{ Green }}<br>
        Blue: {{ Blue }}<br>
      </div>
      {% for colorInfo in colorUsage %}
      <div class="colorusage">
        <h4>{{ colorInfo[0] + 1 }}) RGB: {{ colorInfo[4] }} ({{ colorInfo[5] }}%)</h4>
        <div class="colorusage_left"">
          <div class="colorusage_color" style="background-color: rgb({{ colorInfo[1][0] }}, {{ colorInfo[1][1] }}, {{ colorInfo[1][2] }})";></div>
        </div>
        <div class="colorusage_right">
          <p>Power Usage: {{ colorInfo[2] }}mW</p>
          <p>Power Usage Ratio: {{ colorInfo[3] }}%</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
</body>
</html>