<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>app</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}" />
  <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
<div id="wrapper">
  <header>
    <h1>UI Power Usage Analyzation Tool</h1>
  </header>
  <br>
  <div id="container">
    <form id="up_form" action="/upload" method="post" enctype="multipart/form-data">
      <div id="options">
        <p>
          Phone
          <select id="phone" name="phone">
            <option value="gn5movie">Galaxy Note 5</option>
            <option value="pxldefault">Pixel XL default</option>
            <option value="pxlpicture">Pixel XL picture</option>
          </select>
          | Merge Similar Colors <input id="mc" name="chk_info" type="checkbox">
          | Translate
          <select id="translate" name="translate">
            <option value="rgborder">RGB Order</option>
            <option value="greyscale">GreyScale</option>
            <option value="inverted">Inverted + RGB Order</option>
          </select>
        </p>
      </div>
      <div id="left">
        <p>Original Image</p>
        {% if filename %}
        <img id="image" src="{{ url_for('send_file', filename=filename) }}">
        {% else %}
        <h1>no image</h1>
        {% endif %}
        <input type="hidden" name="hidden" value="{{ filename }}">
        <input id="file_input" name="image" type="file">
      </div>
    </form>
    <div id="right">
      <div id="overall">
        {% if RGBP %}
          <h3>Overall - Total Power Usage: {{ RGBP[3] }}mW</h3>
          Average red: {{ RGBP[0] }}<br>
          Average green: {{ RGBP[1] }}<br>
          Average blue: {{ RGBP[2] }}<br>
          <!--<div id="colorGraph">
            {% for colorInfo in colorUsage %}
              <div class='colorgraph_stick' style='background-color: rgb({{ colorInfo[1][0] }}, {{ colorInfo[1][1] }}, {{ colorInfo[1][2] }});
              width: {{ colorInfo[3] }}%;'></div>
            {% endfor %}
          </div>-->
        {% else %}
          <h3>Waiting for image</h3>
        {% endif %}
      </div>
      <div id="colors"></div>
    </div>
    <div id="after">
      <p>Modified Image</p>
      <div id="mimagediv">
        {% if filename %}
        <img id="mimage" src="uploads/translated_image.jpg">
        <p>predicted power: {{ trInfo[0] }}mW </p>
        <p>{{ trInfo[1] }}% reduced</p>
        {% else %}
        <h1>no image</h1>
        {% endif %}
      </div>
    </div>
  </div>
</div>
</body>
<script type="text/javascript">
  var colordiv_default =
    "{% for colorInfo in colorUsage %} \
    <div class='colorusage'> \
      <h4>{{ colorInfo[0] + 1 }}) RGB: {{ colorInfo[4] }} ({{ colorInfo[5] }}%)</h4>\
      <div class='colorusage_left'> \
        <div class='colorusage_color' style='background-color: rgb({{ colorInfo[1][0] }}, {{ colorInfo[1][1] }}, {{ colorInfo[1][2] }})';></div> \
      </div> \
      <div class='colorusage_right'> \
        <p>Power Usage: {{ colorInfo[2] }}mW</p> \
        <p>Power Usage Ratio: {{ colorInfo[3] }}%</p> \
      </div> \
    </div> \
    {% endfor %}";
  
  var colordiv_merge =
    "{% for colorInfo in simColorUsage %} \
    <div class='colorusage'> \
      <h4>{{ colorInfo[0] + 1 }}) RGB: \
      {% for colors in colorInfo[4] %} \
        {{ colors }}, \
      {% endfor %} \
      ({{ colorInfo[5] }}%)</h4>\
      <div class='colorusage_left'> \
        {% for colors in colorInfo[1] %} \
        <div class='colorusage_color' style='background-color: rgb({{ colors[0] }}, {{ colors[1] }}, {{ colors[2] }})';></div> \
        {% endfor %} \
      </div> \
      <div class='colorusage_right'> \
        <p>Power Usage: {{ colorInfo[2] }}mW</p> \
        <p>Power Usage Ratio: {{ colorInfo[3] }}%</p> \
      </div> \
    </div> \
    {% endfor %}";

  $('#colors').html(colordiv_default);

  {% if check %}
    {% if check[0] %}
      $('#phone').val('{{ check[0] }}').prop('selected', true);
    {% endif %}

    {% if check[1] %}
      $('#translate').val('{{ check[1] }}').prop('selected', true);
    {% endif %}
  {% endif %}

  $('#options').on('change', function(){
    if($('#mc').prop('checked'))
      $('#colors').html(colordiv_merge);
    else
      $('#colors').html(colordiv_default);
  });

  {% if filename %}
    $('#phone').on('change', function(){
      $('#up_form').submit();
    });
    $('#translate').on('change', function(){
      $('#up_form').submit();
    });
  {% endif %}

  $('#file_input').on('change', function(){
    $('#up_form').submit();
  });
</script>
</html>